# Port number
PORT=8080

NODE_ENV=development

DATABASE_URL="mysql://USERNAME:PASSWORD@localhost:3306/DB_NAME"

JWT_ACCESS_TOKEN_SECRET="YOUR_ACCESS_TOKEN"
JWT_ACCESS_TOKEN_EXPIRATION=5m

JWT_REFRESH_TOKEN_SECRET="YOUR_REFRESH_TOKEN"
JWT_REFRESH_TOKEN_EXPIRATION=30d

JWT_PASSWORD_RESET_TOKEN_SECRET="YOUR_RESET_PWD_TOKEN"
JWT_PASSWORD_RESET_TOKEN_EXPIRATION=120m

EMAIL_HOST=HOST
EMAIL_PORT=12345
EMAIL_USERNAME=USERNAME
EMAIL_PASSWORD=PASSWORD