.flexRow {
    display: flex;
  }
  
  .flexRow span:first-child {
    flex-basis: 10%;
  }

  .flexRow span:nth-child(2) {
    flex-basis: 40%;
  }

  .flexRow span:nth-child(3) {
    flex-basis: 40%;
  }

  .flexRow span:last-child {
    flex-basis: 10%;
  }
